.newsletter {
    margin-top:  calc(var(--separacion)/2);
    background-image:linear-gradient(to bottom, transparent 50%, var(--blanco)0%), url('../../assets//07-audifonos/07-audifonos/img/newsletter.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 70rem;
}

@media (min-width:768px) {
    .newsletter {
        margin-top:  calc(var(--separacion)/2);
        background-image:linear-gradient(to right, transparent 50%, var(--blanco)0%), url('../../assets//07-audifonos/07-audifonos/img/newsletter.jpg');
        background-position: center -21rem -10rem;
        background-size: 100% 100rem;
        padding: 10rem 0;
    }
    
}


.contenido_newsletter{
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: var(--separacion);
}

@media (min-width:768px) {
    .contenido_newsletter {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

.texto_newsletter {
    grid-row: 2/3;
}
@media (min-width:768px) {
    .texto_newsletter {
        grid-row: unset;
        grid-column: 2/3;
    }
}

.formulario input[type='text'] {
    width: 100%;
    padding: 1rem;
   
}
.formulario input[type='text']:focus {
    outline-color: var(--colorMain);
}

.formulario input[type='submit'] {
    width: 100%;
    padding: 2rem;
    background-color: var(--colorMain);
    color: var(--blanco);
    text-transform: uppercase;
    border:none;
    font-size: 2rem;
    font-weight: bold;
    transition-property: transform;
    transition-duration: 300ms;
}

.formulario input[type='submit']:hover {
    cursor: pointer;
    transform: scale(1.03);
}