.footer {
    margin-bottom: 2rem;
}

.rights {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-weight: bold;
    line-height: 2;
    color: transparent;
    background: linear-gradient(to right, var(--colorMain) 0%, var(--colorSecond) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

@media (max-width:421px) {
    .footer{
        margin-top: 15rem;
    }
    .rights{
        font-size: 2rem;
    }
}